body{
    &.blue-snow{
        background: url("../img/design/backgrounds/blue-snow.png");
        color:rgba(25,25,25,1);
    
        header{
          border-bottom:1px solid rgba(25,25,25,1);
        }
    
        main{
          border:1px solid rgba(25,25,25,1);
    
          input[type="button"] {
            border:3px solid rgba(25,25,25,1);
            color:rgba(25,25,25,1);
    
            &:hover{
              border:3px solid royalblue;
              color:royalblue;
            }
          }
        }
      }
}