header {
  display: block;
  min-height: 100px;
  width: 100%;
  text-align: center;

  border-bottom: 1px solid white;

  img {
    height: 80px;
    margin: 0 auto;
  }

  ul {
    li {
      text-decoration: none;
      margin: 5px 0;

      &:last-of-type {
        margin: 5px 0 10px;
      }
    }
  }
}
