body{
    &.repeated-square-dark{
        background: url("../img/design/backgrounds/repeated-square-dark.png");
        color:lime;
    
        header{
          border-bottom: 1px solid lime;
        }
    
        main{
          border:1px solid lime;
    
          input[type="button"] {
            border:3px solid lime;
            color:lime;
    
            &:hover{
              border:3px solid white;
              color:white;
            }
          }
        }
      }
}