body{
    &.repeated-square{
        background: url("../img/design/backgrounds/repeated-square.png");
        color:rgba(25,25,25,1);
    
        header{
          border-bottom:1px solid black;
        }
    
        main{
          border:1px solid rgba(125,125,125,1);
    
          input[type="button"] {
            border:3px solid rgba(25,25,25,1);
            color:rgba(25,25,25,1);
    
            transition: 0s;
    
            &:hover{
              border:3px solid orangered;
              color: orangered;
            }
          }
        }
      }

  }