body{
    &.vintage-wallpaper{
        background: url("../img/design/backgrounds/vintage-wallpaper.png");
    
        header{
          border-bottom:1px solid rgba(250,250,250,1);
        }
    
        main{
          border:1px solid rgba(250,250,250,1);
    
          input[type="button"] {
            border:3px solid rgba(250,250,250,1);
            color:rgba(250,250,250,1);
    
            transition: 0s;
    
            &:hover{
              border:3px solid goldenrod;
              color: goldenrod;
            }
          }
        }
      }
}